.alert{
    padding: 1em;
    border: 1px solid transparent;
    border-radius: 4px;
}
.errors{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.imgPerfil{
    width: 50%;
    display: block;
    border-radius: 50%;
}

.item-input input[type="file"]{
    display: block;
}